**/tags
.dotfiles/.vim/.netrwhist
.dotfiles/.vim/pack/

.dotfiles/fcitx/dbus
.dotfiles/fcitx/clipboard

Vagrantfile/.vagrant
Vagrantfile/home/
Vagrantfile/*.log

/**/install-file/*

lxd/base/**/.conf
lxd/base/**/share
